:root{
    --primary:#0F6FFF;
    --secondary:#14C8B8;
    --dark:#1F2937;
    --light:#F8FAFC;
    --white:#FFFFFF;
    --border:#E5E7EB;
    --text:#64748B;

    --shadow:0 10px 30px rgba(15,111,255,.12);
}
body{
    font-family:'Manrope',sans-serif;
    background:var(--light);
    color:var(--dark);
}
header{
    background:#ffffff;
    border-bottom:1px solid var(--border);
    box-shadow:0 2px 10px rgba(0,0,0,.05);
}
